@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Happy's Hair Salon</h1>
            <p>Cutting edge hair products and services!</p>
        </div>
        <h1>*** YOU MUST ADD A STYLIST BEFORE YOU CAN ADD A CLIENT ***</h1>
        <br />
        <a href="/stylist/add" type="button" class="btn btn-primary">Add Stylist</a>
        <a href="/" type="button" class="btn btn-primary">Return to Home</a>
    </div>
</div>