@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <h1>*** YOU MUST ADD A STYLIST BEFORE YOU CAN ADD A CLIENT ***</h1>
        <br />
        <a href="/stylist/add" type="button" class="btn btn-success">Add Stylist</a>
        <a href="/" type="button" class="btn btn-primary">Return to Home</a>
    </div>
</div>