@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <a href="/specialty/add" type="button" class="btn btn-success">Add New Specialty</a>
        <a href="/" type="button" class="btn btn-primary">Return to Home</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h3>@Model.Name</h3>
        <hr /><br />
        <h5><strong>Stylists:</strong></h5>
        @foreach (var stylist in Model.GetStylists())
        {
            <a href="~/stylist/@stylist.Id/details"><p>@stylist.Name</p></a><br />
        }
        <hr />
        <a href="/specialty/@Model.Id/update" type="button" class="btn btn-primary">Edit</a>
        <a href="/specialty/@Model.Id/delete" type="button" class="btn btn-danger">Delete</a>
    </div>
</div>