@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <a href="/specialty/add" type="button" class="btn btn-success">Add New Specialty</a>
        <a href="/" type="button" class="btn btn-primary">Return to Home</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h2><a href="/specialty/@Model.Id/details">@Model.Name</a></h2>
        <hr />
        <form action="/specialty/@Model.Id/update" method="post">
            <div class="form-group">
                <label for="new-name">Name:</label>
                <input type="text" name="new-name" value="@Model.Name" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
            <a href="/" type="button" class="btn btn-primary">Return to Home</a>
        </form>
    </div>
</div>
