@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <a href="/specialty/add" type="button" class="btn btn-success">Add New Specialty</a>
        <a href="/specialties/delete" type="button" class="btn btn-danger">Delete All Specialties</a>
        <a href="/" type="button" class="btn btn-primary">Return to Home</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h3>Current Specialties</h3>
        @{
            foreach (var specialty in Model)
            {
                <h4><a href="/specialty/@specialty.Id/details">@specialty.Name</a></h4>
                <a href="/specialty/@specialty.Id/update" type="button" class="btn btn-primary">Edit</a>
                <a href="/specialty/@specialty.Id/delete" type="button" class="btn btn-danger">Delete</a>
                <hr />
            }
        }
    </div>
</div>