@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <a href="/stylists" type="button" class="btn btn-primary">View All Stylists</a>
        <a href="/clients" type="button" class="btn btn-primary">View All Clients</a>
        <a href="/specialties" type="button" class="btn btn-primary">View All Specialties</a>
        <a href="/stylist/add" type="button" class="btn btn-primary">Add Stylist</a>
        <a href="/client/add" type="button" class="btn btn-primary">Add Client</a>
        <a href="/specialty/add" type="button" class="btn btn-primary">Add Specialty</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <br /><br />
        <h1>CURRENTLY SPECIALIZING IN THE FOLLOWING TECHNIQUE(S):</h1>
        <hr />
        @foreach(var specialty in Model)
        {
            <h3>@specialty.Name</h3>
        }
    </div>
</div>
