@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>RPG Database App</h1>
            <p>Practice using SQL databses in C# using a character and class relationship model</p>
        </div>
        <a href="/view-all" type="button" class="btn btn-primary">View All Characters</a>
        <a href="/search" type="button" class="btn btn-primary">Search The Database</a>
        <a href="/add-character" type="button" class="btn btn-primary">Add Character</a>
    </div>
</div>