@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Happy's Hair Salon</h1>
            <p>Cutting edge hair products and services!</p>
        </div>
        <a href="/view-all-stylists" type="button" class="btn btn-primary">View All Stylists</a>
        <a href="/new-stylist" type="button" class="btn btn-primary">Add Stylist</a>
        <a href="/new-client" type="button" class="btn btn-primary">Add Client</a>
    </div>
</div>