@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Snappy Snips Hair Salon</h1>
            <p>Cutting edge hair products and services!</p>
        </div>
        <a href="/stylists" type="button" class="btn btn-primary">View All Stylists</a>
        <a href="/clients" type="button" class="btn btn-primary">View All Clients</a>
        <a href="/specialties" type="button" class="btn btn-primary">View All Specialties</a>
        <a href="/stylist/add" type="button" class="btn btn-primary">Add Stylist</a>
        <a href="/client/add" type="button" class="btn btn-primary">Add Client</a>
        <a href="/specialty/add" type="button" class="btn btn-primary">Add Specialty</a>
    </div>
</div>