@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <form action="/stylists" method="post">
            <div class="form-group">
                <label for="name">Enter Stylist Name</label>
                <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
                <label for="exp">Enter Stylist Experience</label>
                <input type="number" id="exp" name="exp" required />
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
            <a href="/" type="button" class="btn btn-primary">Return to Home</a>
        </form>
    </div>
</div>