@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Current Salon Stylists</h1>
        </div>
        <a href="/new-stylist" type="button" class="btn btn-primary">Add New Stylist</a>
        <a href="/" type="button" class="btn btn-primary">Return to Home</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Current Stylists</h3>
        @{
            foreach (var stylist in Model)
            {
                <h4>@stylist.Name</h4>
                <a href="/stylist/@stylist.Id/update" type="button" class="btn btn-primary">Edit</a>
                <a href="/stylist/@stylist.Id/delete" type="button" class="btn btn-danger">Delete</a>
                <hr />
            }
        }
    </div>
</div>
